# Ignore build and binary files
*.exe
*.out
*.obj
*.o
*.dll
*.lib
*.so
*.a
*.tlog

# Ignore Visual Studio files
.vscode/
.vs/
*.vcxproj*
*.sln
*.suo
*.user
*.ncb
*.pdb
*.idb
*.opendb
*.vsidx

# Ignore Code::Blocks files
*.cbp
*.layout
*.depend

# Ignore CMake build directories
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore Clang/GCC compilation files
*.d
*.gcda
*.gcno
*.gcov

# Ignore compiled game assets (optional)
assets/*.png
assets/*.wav
assets/*.ogg
Pokemon/.vs/Pokemon/v17/Browse.VC.db
Pokemon/.vs/Pokemon/v17/DocumentLayout.backup.json
Pokemon/.vs/Pokemon/v17/DocumentLayout.json
Pokemon/Pokemon/x64/Debug/Pokemon.tlog/CL.command.1.tlog
Pokemon/Pokemon/x64/Debug/Pokemon.tlog/link.command.1.tlog
Pokemon/Pokemon/x64/Debug/Pokemon.tlog/link.read.1.tlog
Pokemon/Pokemon/x64/Debug/vc143.idb
